@page "/project/create/{requestId:int?}"
@attribute [Authorize(Roles = "Supervisor")]

@using BlazorApp.Core
@* @using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data; *@
@using static CurrieTechnologies.Razor.SweetAlert2.SweetAlertIcon

@inject ProjectRemote ProjectRemote
@inject TagRemote TagRemote
@inject NavigationManager navManager
@inject CurrieTechnologies.Razor.SweetAlert2.SweetAlertService swal
@inject IJSRuntime js

<h1>Create a new project </h1>
<br> <br />

<form class="MainDiv">
    <div class="form-group">
        <input @bind="Title" @bind:event="oninput" type="text" class="form-control" id="formGroupExampleInput1"
            placeholder="Project Title">
    </div>
    <div class="form-group">
        <textarea @bind="Description" @bind:event="oninput" type="text" style="height: 200px;" class="form-control"
            id="formGroupExampleInput2" placeholder="Project Description" rows="20"></textarea>
    </div>
    <div class="form-group">
        <textarea type="text" style="height: 120px;" class="form-control" id="formGroupExampleInput"
            placeholder="Additional information" rows="10"></textarea>
    </div>
</form>

<div class="allTags">
    <div class="preDefinedTags">

        @foreach (var tag in displayTags)
        {
            var tagId = "tag" + tagNr.ToString();
            tagNr++;
            <button @onclick="@(e => AddTagName(tagId,tag))" id="@tagId" type="button" class="tag">@tag</button>

        }

    </div>

    @* <SfDropDownList TValue="string" TItem="TagDetailsDTO" Width="400px" Placeholder="Select a tag" DataSource="tags"
        AllowFiltering="true" Query="@LocalDataQuery" PopupHeight="130px" EnableVirtualization="true">
        <DropDownListTemplates TItem="TagDetailsDTO">
            <NoRecordsTemplate>
                <span class='norecord'> NO TAGS AVAILABLE</span>
            </NoRecordsTemplate>
        </DropDownListTemplates>
        <DropDownListEvents TItem="TagDetailsDTO" TValue="string" OnValueSelect="OnValueSelecthandler">
        </DropDownListEvents>
        <DropDownListFieldSettings Text="Name" Value="ID"></DropDownListFieldSettings>
    </SfDropDownList> *@


    <div class="addDivTag">
        <input onkeyup="if(event.keyCode===13){addTag.click()}" @bind="tagName" @bind:event="oninput" id="AddTagTextField" class="form-control tagTextField"
            placeholder="Enter Tag">
        <button id="addTag" @onclick="@(e => AddTag(tagName))" type="button" class="btn btn-primary btn-rounded">Add Tag</button>
    </div>
</div>

<br> <br />

<div class="Buttons">
    <button type="button" class="btn btn-success successBtn"
        @onclick="@(e => Submit(Title, Description))">Submit</button>
</div>


@code
{
    @* private Query LocalDataQuery = new Query().Take(6); //small query to enable scrollbar for tags dropdown *@

    private string Title;
    private string Description;
    private string tagName;

    [Parameter]
    public int? requestId { get; set; }

    private int tagNr = 5; //to keep track of tag IDs
    IEnumerable<TagDetailsDTO> tags = new List<TagDetailsDTO>(); //tags fetched from API
    List<string> displayTags = new List<string>(); //the tags to display on the page
    List<string> tagNames = new List<string>(); //responsible for holding tag names which are clicked on


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        tags = await TagRemote.GetTags();
    }

    // Is used when a supervisor will create a project from a request
    // Passing said request's Id in the url and then automatically setting predefined values to the inputs.
    // As the parameter is nullable this only happens if a parameter is passed to the url
    protected override async Task OnParametersSetAsync()
    {
        if (requestId != null)
        {
            Title = "Received";
        }
        StateHasChanged();
    }

    private async void Submit(string Title, string Description)
    {
        ProjectCreateDTO projectCreateDTO = new ProjectCreateDTO()
        {
            Title = Title,
            Description = Description,
            SupervisorId = "SupervisorId1",
            Tags = tagNames

        };

        await js.InvokeVoidAsync("clearProjectForm");

        var result = await ProjectRemote.CreateProject(projectCreateDTO);

        if (result)
        {
            await swal.FireAsync("Succes", "Project successfully created", Success);
            navManager.NavigateTo("/");
        }

        else
        {
            await swal.FireAsync("Error", "Couldn't create project", Error);
        }

    }
    
    private async void AddTag(string tagName)
    {
        if (string.IsNullOrEmpty(tagName)) return;
        displayTags.Add(tagName);
        await js.InvokeVoidAsync("clearTagTextField");
    }


    private async void AddTagName(string id, string tagName)
    {
        await js.InvokeVoidAsync("changeTagColor", id); //Changes color of tag upon click
        
            var foundTag = tagNames.Where(t => t == tagName).FirstOrDefault();

            if (foundTag == null)
            {
                tagNames.Add(tagName);
                return;
            }

            tagNames.Remove(tagName);
        

    }

    @* private void OnValueSelecthandler(SelectEventArgs<TagDetailsDTO> args)
    {

        AddTag(args.ItemData.Name);
    } *@
}
